@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #2c549e;
    --primary-color-darker: #081734;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

h1,h2 {
    text-align: center;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    border-radius: 15px;
    background-color: #fff;
    padding: 20px;
}

.container-tabela {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

form input { 
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 35px;
}

form button:hover {
    background-color: var(--primary-color-darker);
}